<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- A simple bean definition -->
    <bean id = "actorObject" class = "com.stackroute.domain.Actor">
        <property name="age" value="22"></property>
        <property name="gender" value="Male"></property>
        <property name="name"  value="Ravi">
        </property>
    </bean>
    <bean id = "movie" class = "com.stackroute.domain.Movie">
        <property name="actor" ref="actorObject"/>
        <property name="movieName" value="Joker"></property>
    </bean>



</beans>